{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'create' %}" method="post" enctype="multipart/form-data" class="col-sm-offset-2 col-sm-10">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="bid" placeholder="Bid">
    <select name="category">
        {% for row in data %}
        <option value="{{row.category_name}}">{{row.category_name}}</option>
        {% endfor %}
    </select>
    <input  type="file" name="image" value="Upload Image">
    <p><strong style="color: red;"> Image Size should be 300px x 300px</strong></p>
    <input  type="submit" value="Save" class="btn btn-success">
</form>
{% endblock %}